<% content_for :title, "Lord of War - My weapons" %>

<div class="container text-center">
  <%= render 'account/tab-menu', weapons_class: "tab active" %>
</div>

<div class="container text-center">
  <div class="tab-content" id="weapons">
    <div class="container" style="text-align:center">
      <h1>My weapons list</h1>
      <div class="row" id="weapons-list">
        <% @weapons.each do |weapon| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to weapon_path(weapon.id) do %>
          <div class="card">
            <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
            url('<%= image_path weapon.photo_url %>');"></div>
            <div class="card-description">
              <div class="card-price"><%= "#{number_with_delimiter(weapon.price)} €" %></div>
              <div class="card-title"><%= weapon.title %></div>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- To activate if we can do everything on time before, code in js file commented as well -->
<!-- <%= javascript_include_tag 'tabs' %> -->
