<% content_for :title, "Lord of War - Home" %>


<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
                            url('<%= image_path 'home-bg.jpg' %>');">
  <div class="banner-content">
    <h1>Welcome on Lord of War</h1>
    <p>Find your dream weapon</p>
    <form action="weapons" method="get" class="form-inline">
      <input name="query" id="query" type="text" class="form-control input-lg" placeholder="Show all weapons"/>
      <input type="submit" value="Go!" class="btn btn-primary btn-lg"/>
    </form>
    <a class="last-arrow-link" href="#last-weapons"><%= image_tag 'down-arrow.png' %></a>
  </div>
</div>

<div id="last-weapons" class="container">
  <div class="row">
    <% @weapons.each do |weapon| %>
    <div class="col-xs-12 col-sm-3">
      <%= link_to weapon_path(weapon.id) do %>
      <div class="card">
        <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url('<%= image_path weapon.photo %>');"></div>
        <div class="card-description">
          <div class="card-price"><%= "#{number_with_delimiter(weapon.price)} €" %></div>
          <div class="card-title"><%= weapon.title %></div>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<div class="container" id="features">
  <h1 class="text-center">Handle what you want</h1>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <p align="center"><%= image_tag 'COD_BO2_Ray_Gun_r.png'%></p>
    <h2 class="text-center">Discover</h2>
    <p class="text-center">Discover unseen and unused weapons</p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <p align="center"><%= image_tag 'beer.png'%></p>
    <h2 class="text-center">Share</h2>
    <p class="text-center">Share a common passion with users here</p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <p align="center"><%= image_tag 'dollar.png'%></p>
    <h2 class="text-center">Save money</h2>
    <p class="text-center">No need to buy a weapon to be disapointed aftermath</p>
  </div>
</div>

<div class="container" id="howto">
  <h1 class="text-center">Easy to use</h1>
  <p>Step 1, Step 2.... Put screenshoot or things like that</p>
</div>

<div class="container" id="faq">
  <h1 class="text-center">FAQ and testimonies</h1>
  <div class="faq">
    <p>Is that legal?</p>
    <p>100%</p>
    <p></p>
    <p>Is that safe?</p>
    <p>100%</p>
    <p></p>
    <p>Is that cool?</p>
    <p>Super much very very cool and beyond</p>
  </div>
  <div class="reviews">
    <p>Put twitter cards or stuff like that</p>
  </div>
</div>
