<div class="container text-center">
<div class="row col-xs-12 col-sm-9 col-sm-offset-3 ">
    <h2 class="title">Your booking details<h2>
      <div class="container-card">
        <div class="wrapper">

         <div class="header">
          <div class="price">
            <h1>$ <%= Weapon.find(Booking.first.weapon_id).price %> / day</h1>
          </div>
          <div class="heart-wrap">
            <a href="#"><i class="fa heart"></i></a>
          </div>
        </div>
        <div class="product">
          <%= image_tag("#{Weapon.find(Booking.first.weapon_id).photo_url}", class: "img") %>
        </div>

        <div class="info">
          <div class="title">
            <h1><%= Weapon.find(Booking.first.weapon_id).title %></h1>
            <p><%= Weapon.find(Booking.first.weapon_id).description %></p>
            <div class="booking_info text-center">

              <ul class="list-group list-booking">
                <li class="list-group-item"><h5><strong>Starting date: </strong><%= Booking.first.start_date %></h5></li>
                <li class="list-group-item"><h5><strong>Ending date: </strong><%= Booking.first.end_date %></h5></li>
                <li class="list-group-item"><h5><strong>Total number of days: </strong><%= Booking.first.end_date - Booking.first.start_date %> </h5></li>
                <li class="list-group-item"><h5><strong>Total price: </strong></h5></li>
                <li class="list-group-item"><h5><strong>Available: <%= Weapon.find(Booking.first.weapon_id).availability %></strong></h5></li>
              </ul>

            </div>
          </div>
          <button class="askBtn">Ask for booking</button>
        </div>
      </div>
    </div>
  </div>

  <div class= "row col-xs-12 col-sm-3">
    <h2 tag="title-owner">Owner</h2>
    <div class="container-card">
      <div class="wrapper">

        <div class="avatar-lg">
          <%= image_tag("#{User.find(Weapon.find(Booking.first.weapon_id).owner_id).avatar_url}") %>
        </div>

        <div class="info">
          <div class="title">
            <h2><%= User.find(Weapon.find(Booking.first.weapon_id).owner_id).first_name%> <strong> <%= User.find(Weapon.find(Booking.first.weapon_id).owner_id).last_name %></strong></h2>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class= "row col-xs-12 col-sm-3">
    <h2 class="title">Owner</h2>
    <div class="container-card">
      <div class="wrapper">

        <div class="avatar-large">
          <%= image_tag("#{User.find(Weapon.find(Booking.first.weapon_id).owner_id).avatar_url}") %>
        </div>

        <div class="info">
          <div class="title">
            <h2><%= User.find(Weapon.find(Booking.first.weapon_id).owner_id).first_name%> <strong> <%= User.find(Weapon.find(Booking.first.weapon_id).owner_id).last_name %></strong></h2>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
